.contBudget-list{
    display: flex;
    flex-direction: column;
}
.tExpense{
 color: rgb(224, 64, 85);
}
.tIncome{
    color: rgb(64, 192, 224);
}
.tIncomeMain,.listDescription{
    color: #0D1821;
}
.itmeU{
    background: white;
    border-radius: 50px;
    height: 40px;
    line-height: 40px;
    width: 70%;
    overflow: hidden;
    margin: 10px auto; 
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    box-shadow: 0px 2px 7px 3px rgba(18, 94, 138, 0.616);

}

.contList{
    width: 100%;
    margin: 20px auto;
}
.tt{
    text-align:center ;
}
.listDescription{
   width: 40%;
   margin-left: 5px;
   line-height: normal;
   margin: auto 0;
   margin-left: 10px;
   
}
.listvalue{
    width: 30%;
}
.percentList{
    background: rgba(247, 180, 180, 0.432);
}
.btnDelete{
    width: 30px; 
    height: 30px;
    border-radius: 100%;
    border: 2px solid rgb(64, 192, 224);
    line-height: 20px;
    color: rgb(64, 192, 224);
    cursor: pointer;
    font-size: 22px;
    font-weight: bolder;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(231, 231, 227),rgb(240, 239, 239));
    box-shadow: 1px 1px 10px 1px rgb(187, 187, 187);
    display: none;
    margin-top: 5px;
 
}

.itmeU:hover>.contBtn>.btnDelete{
    display: block;

}
.btnDelete:hover{
    border: 2px solid rgb(49, 139, 199);
    color: rgb(49, 139, 199);
    transform: translate(2px)
}
.btnExpense{
    color: rgb(224, 64, 85);
    border: 2px solid rgb(224, 64, 85);
}
.btnExpense:hover{
    color: rgb(185, 38, 58);
    border: 2px solid rgb(185, 38, 58);
}
@media screen and (min-width: 600px) {
    .contBudget-list{
        display: flex;
        flex-direction: row;
    }
    .tt{
        text-align:left ;
        margin-left: 30px;
    }
  }