<div class="container fContainer">
    
    <form (ngSubmit)="f.form.valid && addBudget()" #f="ngForm" class="formNewBudget">    
        <select name="typeNewBudget" (change)='setTypeOp($event)' [ngClass]='{redIn:typeBudget==="expense"}'>
            <option value="income" selected>Ingreso</option>
            <option value="expense" >Egreso</option>
        </select>
        <input [ngClass]='{redIn:typeBudget==="expense"}'
                type="text" 
                placeholder="Descripcion" 
                name="descriptionIn" 
                [(ngModel)]="descriptionIn" 
                #descIn
                required
         >
        <input type="number" 
            placeholder="1000" 
            [(ngModel)]="valueIn" 
            #valeIn
            [ngClass]='{redIn:typeBudget==="expense"}' 
             name="valueIn" 
            required
        >
        <button type="submit" 
        [ngClass]='{btnRed:typeBudget==="expense"}' >+</button>

    </form>
</div>